.navbar {
  background-color: #9DB5BF;
  border-radius: 0;
}
.navbar .navbar-brand,
#bs-example-navbar-collapse-1 .navbar-right a {
  color: #231F20;
}

section {
  height: 1000px;
  background-color: #AFB886;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .navbar #bs-example-navbar-collapse-1 {
    background-color: #E0DBFF;
  }
}
